<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <div id="head">
        <div id="u1">
            <a class="mnav" href="/" >首页</a>
            <a class="mnav" href="/pieChart/">饼状图</a></a>
            <a class="mnav" href="/stack/">堆叠图</a></a>
            <a class="mnav" href="/histogram/">柱状图</a></a>
            <a class="mnav" href="/dynamicHistogram/">动态柱状图</a>
        </div>
    </div>
    <div id="content" class="mem">
    <ul class="members">
        <li class="peo">
            <img src="/static/img/avatar3.jpg" alt="">
            <div class="desciption">
                <p>付昱飞<br>2018101296
                </p>
            </div>
            <p class="work">
                图形绘制及网页制作
            </p>
        </li>
        <li class="peo">
            <img src="/static/img/avatar4.jpg" alt="">
            <div class="desciption">
                <p>段毅伟<br>2018101282
                </p>
            </div>
            <p class="work">
                制作PPT
            </p>
        </li>
        <li class="peo">
            <img src="/static/img/avatar2.jpg" alt="">
            <div class="desciption">
                <p>徐俊龙<br>2018101297
                </p>
            </div>
            <p class="work">
                制作Word
            </p>
        </li>
        <li class="peo">
            <img src="/static/img/avatar1.jpg" alt="">
            <div class="desciption">
                <p>涂俊<br>2018101301
                </p>
            </div>
            <p class="work">
                图形绘制及网页制作
            </p>
        </li>
        <li class="peo">
            <img src="/static/img/avatar5.jpg" alt="">
            <div class="desciption">
                <p>戴帮识<br>2018101293
                </p>
            </div>
            <p class="work">
                资料收集与整理，结果分析
            </p>
        </li>
    </ul>
    </div>
    <a class="peo author" href="https://dyingdown.github.io" target="_blank">
        <img src="/static/img/avatar6.jpg" alt="">
        <div class="desciption">
            <p>o_oyao<br>Author
            </p>
        </div>
    </a>
</body>
</html>